body {
    background-color: #F2E3D5; 
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  img {
    width: 80px; 
    height: auto; 
    cursor: pointer;
    padding: 20px;
  }
  
  .text-container {
    color: rgb(0, 0, 0);
    text-align: center;
  }
  
  strong {
    color: #3CA6A6;
  }
  
  footer {
    color: rgb(235, 229, 229);
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 50px; 
    background-color: #012E40;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; 
  }
  
  .footer-container {
    display: flex; 
    justify-content: space-around;
    width: 100%; 
  }