@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
 margin: 0;
  border: 0;
  padding: 0;
}
header {
  box-sizing: border-box;
  height: 150px;
  width: 100%;
  position: relative;
  display: flex;
  box-shadow:#2D2D2D 2px 0 10px;
}

#img-header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: self-start;

}
#img-header img {
  box-sizing: border-box;
  width: 150px;
  height: auto;
  
}

body {
  box-sizing: border-box;
  background-color: #A7A8AA; 
  height: 100vh;
  
}
.apresentação__conteudo{
  width: 615px; 
}
.apresentacao__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;

}
.apresentacao__subtitulo {
  font-size: 24px;
  font-family: "Krona One", sans-serif;
}

.apresentacao__texto {
  display: flex;
  margin: 10%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}

#apresentação-container {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10%;
}

.text-container {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  text-align: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10%;
  }

strong {
  color: #003DA5;
}
strong :hover {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  transition-duration: 0.3 s;
  padding: 5px;

}

p {
  
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #003DA5;
}

span{
  color: #003DA5;
  border: 1px solid #003DA5   ;
  padding: 1px;

}

span :hover {
  width: 40px;
  height: 40px;
  opacity: 0.8;
  transition-duration: 0.3 s;
  padding: 5px;

}

footer {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #003DA5;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

.footer-container {

  height: auto; 
  display: flex; 
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

  
}

.footer-container :hover {
  width: 50px;
  height: 50px;
  opacity: 0.8;
  transition-duration: 0.2 ;
}

img {
  width: 30px ; 
  height: auto; 
  cursor: pointer;
  padding: 3px;
  
}

#imagem__rodape img {
  width: 100px;
  height: auto;
  
}