body {
  background-color: #f7f7f7; /* Cinza claro */
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  width: 80px; /* Tamanho padrão */
  height: auto; /* Manter proporção */
  cursor: pointer;
  padding: 20px;
}

.text-container {
  color: rgb(0, 0, 0);
  text-align: center;
}

strong {
  color: blue;
}

footer {
  color: rgb(235, 229, 229);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px; /* Altura fixa */
  background-color: #1D36C3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px; /* Adicionando padding */
}

.footer-container {
  display: flex; /* Usando flexbox para alinhar os ícones */
  justify-content: space-around;
  width: 100%; /* Ajustando a largura */
}