@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: #A7A8AA; 
  height: 100vh;
  
}

header {
  height: 150px;
  width: 100vw;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 0 20px; 
}


#img-header img {
  box-sizing: border-box;
  width: 150px;
  height: auto;
  
}


.apresentação__conteudo{
  box-sizing: border-box;
  width: 615px; 
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  gap: 10px 100px;
 
}
.apresentacao__titulo {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
  padding: 2% 0;

}
.apresentacao__subtitulo {
  font-size: 24px;
  font-family: "Krona One", sans-serif;
}

.apresentacao__texto {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;

}


  .apresentacao__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    
  }

  .apresentacao__subtitulo_redes{ 
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 13px;

  }
  .apresentacao__botao {
    background-color: #003DA5;
    color: rgb(255, 255, 255);
    width: 80px;
    height: auto;
    display: flex; 
    text-align: center;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 600;
    justify-content: center; 
    align-items: center; 
    padding: 15px 0;
    border: 1px solid #000000;
    margin: 10px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    transition: opacity 0.2s, transform 0.2s;
    
  }

  .apresentacao__botao:hover {
    opacity: 0.8;
    transform: scale(1.1); 
    cursor: pointer;
}
  

strong {
  color: #003DA5;
  transition: opacity 0.2s, transform 0.2s;
}
strong :hover {
  opacity: 0.8;
  transform: scale(1.1); 
  cursor: pointer;

}

p {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #003DA5;
  transition: opacity 0.2s, transform 0.2s;
}

span{
  color: #003DA5;
  border: 1px solid #003DA5;
  padding: 1px;
  transition: opacity 0.2s, transform 0.2s;

}

span :hover {
    opacity: 0.8;
    transform: scale(1.1); 
    cursor: pointer;

}

footer {
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #003DA5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: opacity 0.2s, transform 0.2s;
 
}

.footer-container {

  height: auto; 
  display: flex; 
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transition: opacity 0.2s, transform 0.2s;

  
}

.footer-container :hover {
  opacity: 0.8;
  transform: scale(1.1); 
  cursor: pointer;
}

img {
  width: 30px ; 
  height: auto; 
  cursor: pointer;
  padding: 3px;
  
}

#imagem__rodape img {
  box-sizing: border-box;
  width: 100px;
  height: auto;
  
}