header {
  height: 100%;
  position: relative;
  display: flex;
  box-shadow:#2D2D2D 0px 0px 15px;
}

#img-header {
  position: relative;
  display: flex;
  align-items: self-start;
}
#img-header img {
  width: 150px;
  height: auto;
}

body {
  background-color: #A7A8AA; 
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  width: 30px ; 
  height: auto; 
  cursor: pointer;
  padding: 20px;
}

.text-container {
  color: rgb(0, 0, 0);
  text-align: center;
}

strong {
  color: #003DA5;
}

p {
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #003DA5;
}

span{
  color: #003DA5;
  border: 1px solid #003DA5   ;
  padding: 5px;

}

footer {
  color: rgb(235, 229, 229);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #003DA5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10 20px; 
}

.footer-container {
  display: flex; 
  justify-content: space-around;
  width: 40px;
  height: auto; 
  
}