strong{
  color: blue;
}

   #instragam {
    color: rgb(235, 229, 229);
    background-color: rgb(214, 76, 76);
    border: 2px rgb(23, 23, 26);
    font-size: 20px;
    cursor: pointer;
    border-radius: 50px;

}

#github {
    color: rgb(228, 222, 222);
    background-color: #00076D;
    font-size: 20px;
    cursor:context-menu;
    border-radius: 50px;
}

footer {
  color:rgb(235, 229, 229);
  position: relative;
  low: 0;
  

  background-color: #1D36C3;
}

img{
  position: sticky;
  top: 30px;
  left: 30px;

}